extends layout
block content
  div(class="jumbotron")
    div(class="container")
      h2 Welcome to Agile service
  form(id="loginForm" role="form")
    fieldset
      div(class="form-group")
        label(for="userId" class="control-label") ID :
        input(type="text",
              id="userId",
              class="form-control"
              required)
      div(class="form-group")
        label(for="userPassword" class="control-label") Password :
        input(type="password",
              id="userPassword",
              name="userPassword",
              class="form-control",
              required)
      div(class="form-group")
        button(class="btn btn-info") signin